@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .container {
    @apply max-w-[1024px] mx-auto flex flex-col justify-between items-center;
  }
  .biz-details {
    @apply flex items-center gap-1;
  }
  .biz-parent {
    @apply flex flex-col gap-3 tablet:gap-5;
  }
  .input-label {
    @apply text-[10px] tablet:text-[15px];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
}

.custom-p {
  text-align: justify;
  padding: 1rem;
  font-size: 15px;
}
.custom-section {
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
  padding: 2rem;
  gap: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.custom-input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
